<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp;
        <a ui-sref="pushs">
            <i class="fas fa-chevron-right"></i> &nbsp; notificaciones push
        </a> &nbsp;
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">CSV para notificaciones push</font>
    </div>
</div>

<div id="div2Bus">
    
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
        	<a ui-sref="pushs">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
    </div>
</div>

<div id="div6">
    <div id="contC">

        <div id="conTxtB">

            <div id="inputA">
                <Label>Nombre</Label>
                <input type="text" ng-model="nombre"
                    placeholder="Nombre completo" 
                    style="padding: 8px; border-radius: 5px; border: none; width: 200px;">
            </div>

            <div id="inputA">
                <Label>Teléfono</Label>
                <input type="text" ng-model="telefono"
                    placeholder="Ej: +573167259347" 
                    style="padding: 8px; border-radius: 5px; border: none; width: 200px;">
            </div>

            <div id="inputA">
                <Label>E-mail</Label>
                <input type="text" ng-model="email"
                    placeholder="Ej: emailuno@loro.com.co;emaildos@loro.com.co" 
                    style="padding: 8px; border-radius: 5px; border: none; width: 300px;">

                <label style="float:left; margin-top: 5px; font-size: 12px; width: 100%; color: #00c198;">
                    Separe el correo electrónico con (;)
                </label>
            </div>

            <div id="inputA" style="float:left; width: 100%; margin-top: 20px;">
                <label>Mensaje</label>
                <textarea ng-model="mensaje" placeholder="Ej: Hola Mundo" 
                    style="padding: 8px; border-radius: 5px; border: none; width: 400px; height: 100px; font-family: Arial, Helvetica, sans-serif;">
                </textarea>
            </div>

            <div id="inputA" style="float:left; width:100%; margin-top: 100px;">
                <label>Archivo CSV</label>
                <input type="file" ng-model="yourMode1" base-sixty-four-input>
            </div>

            <div style="float:left; margin-top:30px; width:100%; height:1px; background:#FFF;"></div>

            <div id="inputA">
                <button type="button" ng-click="buscar()"
                        style="float: left; width:300px; background:#00c198; border-radius:5px; border:none; color:#FFF; 
                            font-weight:bold; cursor:pointer; padding-top: 12px; padding-bottom: 12px; margin-top: 30px; margin-bottom: 10px;">                
                        <span ng-show="botao">Enviar</span>
                        <span ng-show="!botao"><img src="../img/loader.png" width="20px"></span>
                </button>
            </div>

            <div id="status" style="text-align:left; padding-left:20px; margin-top:10px; margin-bottom:20px;"></div>

        </div>

    </div>
</div>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>