<div id="perfilPedidos">
    
    <div id="fndPedidos" ng-click="back()"></div>
    <div style="position:fixed; left:50%; margin-left:-200px; top:50%; margin-top:-125px; background:#FFF; 
                width:100%; max-width:400px; height:250px; border:1px solid #333; z-index:2000; border-radius: 10px; overflow-x: hidden;">

        <div style="float: left; margin-top: 30px; width: 100%;">
            <h1 style="margin-left: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">
                Crear Usuarios
            </h1>
        </div>

        <div style="float: left; margin-left: 5%; margin-top: 30px; width: 90%;">
            <div 
                style="float:left; margin-left: 80px; font-size: 2em; color: #00c198;" 
                class="button" ngf-select="selec($file)" ng-model="file" name="file" ngf-pattern="'.csv'"
                ngf-accept="'.csv'"><i class="fas fa-upload"></i>                
            </div>
            <span style="float: left; font-size: 13px; width: 100%; color: #00c198;">{{nameFile}}</span>
        </div>

        <div style="float: left; margin-top: 30px; width: 100%;">
            <button type="button" ng-click="submit()"
                style="float: left; margin-left: 20px; width: 200px; padding-top: 10px; padding-bottom: 10px; border-radius: 5px;
                        background-color: #00c198; font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: white;
                        border: none; cursor: pointer; font-weight: bold;">
                        Enviar
            </button>
        </div>

        <div id="status2" 
            style="float: left; text-align:left; padding-left:20px; margin-top:20px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: red;">            
        </div>
        
    </div>
</div>