<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp; 
        <a ui-sref="editar-pasillos({id:id})">
            <i class="fas fa-chevron-right"></i> &nbsp; {{nameTienda}}
        </a> &nbsp;         
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">carga  archivo diccionaro de los pasillos</font> &nbsp; 
    </div>
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
        	<a ui-sref="editar-pasillos({id:id})">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
    </div>
</div>

<div id="div6">
    <div id="contC">
        <div id="conTxtB">
            <div id="txtH">Carga  archivo diccionaro de los pasillos</div>
            
            <form name="form">
                
                <div id="inputA" style="float: left; width: 100%; margin-top: 20px; margin-bottom: 100px;">
                    <label>file = Archivo csv</label>
                    <div class="button" style="cursor: pointer; margin-left: 30px;" ngf-select ng-model="file" name="file" ngf-pattern="'*'"
                                        ngf-accept="'*'" ngf-max-size="100MB">

                                        <i style="font-size: 2em; color: #333;" class="fas fa-upload"></i>
                    </div>
                </div>
                
                <div id="linhaB"></div>
                
                <div id="inputA" style="width:100%;">
                    <button type="button" ng-click="submit()">
                        <span ng-show="botao">Salvar</span>
                        <span ng-show="!botao"><img src="../img/loader.png" width="20px"></span>
                    </button>
                </div>

            </form>
            
            <div id="status" style="text-align:left; padding-left:20px; margin-top:-10px; margin-bottom:20px;"></div>

        </div>
    </div>
</div>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>