<style>.usuarios { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp; 
        <a ui-sref="perfil-tiendas({id: idStore})">
            <i class="fas fa-chevron-right"></i> &nbsp; {{nameTienda}} &nbsp; 
        </a>
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home" style="text-transform: lowercase;">editar pasillos</font> &nbsp; 
    </div>
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
        	<a ui-sref="perfil-tiendas({id: idStore})">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
        <!--<div id="txtA">
        	<a ui-sref="dicionario-pasillos({id: id})">
            	<i class="fas fa-file-csv"></i> carga  archivo diccionaro de los pasillos
            </a>
        </div>-->
    </div>
</div>

<div id="div6">
    <div id="contC">
        <div id="conTxtB">

            <div style="float: left; width: 45%;">

                <div id="txtH">Editar pasillos</div>
                
                <div id="inputA">
                    <Label>Name</Label>
                    <input type="text" ng-model="name" placeholder="Ej: Chaquetas">
                </div>
                
                <div id="inputA" style="float: left; width: 100%; margin-top: 20px; margin-bottom: 150px;">
                    <label>Banner (1024x1024)</label>
                    <div style="width: 200px;  height: 100px; overflow: hidden;">
                        <img id="bannerW1" src="{{banner.thumbnail}}"
                            style="position: relative; float: left; height: 100px; 
                                    border: 1px solid color #CCC; z-index: 1;">
                    </div>

                    <form>
                        <input style="float: left; width: 100%;" type='file' ng-change="carrega1()" id="yourModel" ng-model='yourModel' base-sixty-four-input>
                    </form>
                </div>

                <div id="inputA" style="width:100%; margin-top: 28px;">
                    <button type="button" ng-click="salvar(dados)">
                        <span ng-show="botao">Salvar</span>
                        <span ng-show="!botao"><img src="../img/loader.png" width="20px"></span>
                    </button>
                </div>
                
                <div id="status" 
                    style="text-align:left; padding-left:20px; margin-top:-10px; margin-bottom:10px;">
                </div>

            </div>

            <div style="float: left; width: 45%; margin-top: 10px;">
                <div style="float: left; width: 100%; color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bold;">
                    Diccionaro de los pasillos
                </div>
                <div style="float: left; margin-top: 20px; width: 100%; height: 310px; overflow-x: hidden;">
                    <div ng-repeat="tage in tages" style="float: left; color: #00c198; margin-right: 10px; padding: 10px; border-radius: 5px; border: 1px solid #00c198; background-color: #FFF; font-size: 13px;">
                        {{tage.word}}
                    </div>
                </div>
                
                <div style="float: left; width: 100%; margin-top: 17px; margin-bottom: 20px;">
                    <input type="text" ng-model="tags" placeholder="Tags" style="float: left; padding: 10px; border: 1px solid #00c198; width: 250px; height: 15px; border-radius: 5px;">
                    <button type="button" ng-click="posTags()" 
                        style="float:left; width:50px; background:#00c198; margin-left:10px; border-radius:5px; border:none; color:#FFF; 
                               cursor:pointer; padding-top: 10px; padding-bottom: 10px;">ok</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>