<div id="div1">
    <div id="buttonA"></div>
    <div id="buttonA"></div>
</div>

<div style="float: left; width: 100%; margin-top: 100px;">
    <div style="float: left; margin-left: 20%; width: 80%; max-width: 450px;">
        <div style="float: left; margin-top: 50px; width: 100%; color: #00c198; font-family: Arial, Helvetica, sans-serif; font-size: 18px;">
            <span style="font-size: 30px; font-weight: bold;">Lo sentimos,</span> <br>no puedes acceder a este link
        </div>
        <div style="float: left; width: 100%; color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 15px;">
            En el momento no puedes acceder a ADMIN. Por favor <br/> intenta más tarde o ingresa desde otro dispositivo.
        </div>
    </div>
    <div style="float: right; margin-right: 10%; width: 90%; max-width: 450px;">
        <div style="width: 150px; margin: 0 auto; margin-top: 20px;">
            <img src="../img/loock.png" width="150" />
        </div>
    </div>
</div>

<div class="bottom">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>
