<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp; 
        <a ui-sref="refunds">
            <i class="fas fa-chevron-right"></i> &nbsp; refunds
        </a> &nbsp; 
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">refunds .CSV</font>
    </div>
</div>

<div id="div2Bus">
    <div id="busca">
        
    </div>
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
            <a ui-sref="refunds">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
    </div>
</div>

<div id="div5">

    <div id="cntFormDiv5">
        <div id="ctnInput5">
            <div id="input5">
                <label>De</label>
                <input type="date" ng-model="data1"> 
            </div>
            <div id="input5">
                <label>Hasta</label>
                <input type="date" ng-model="data2">
            </div>
            
            <button ng-click="irSearch()">Buscar</button>

            <div id="contMais" ng-show="baixar==0" style="margin-left: -30px;">
                <div id="loaderMais"><img src="../img/loader.png"></div>
            </div>

            <div id="icons" ng-if="baixar">
                <a href="{{baixar}}">
                <i class="fas fa-file-csv"></i>
                </a>
            </div>

        </div>
    </div>

</div>

<div id="footer" style=" position: fixed; bottom: 10px;">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>