<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp; 
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">mantenimiento</font>
    </div>
</div>

<div id="div2Bus">
    <div id="busca">
        
    </div>
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
            <a ui-sref="home">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
    </div>
</div>

<div id="div6">
    <div id="contC">
        <div id="conTxtB" style="margin-left: -5px;">
            
            <div id="inputA" style="width: 100%; margin-top: 10px;">
                <label>De</label>
                <input type="date" ng-model="data1">
                <input type="time" id="hra1" style="float: left; margin-left: -20px; width: 95px;">
            </div>

            <div id="inputA" style="width: 100%; margin-top: 20px;">
                <label>Hasta</label>
                <input type="date" ng-model="data2">
                <input type="time" id="hra2" style="float: left; margin-left: -20px; width: 95px;">
            </div>

            <div id="inputA" style="width: 100%; margin-top: 20px;">
                <label>Descripción</label>
                <textarea ng-model="descricao"
                    style="float: left; height: 80px; width: 453px; border-radius: 5px;"></textarea>
            </div>

            <div id="inputA" style="float: left; width: 100%; margin-top: 100px; margin-bottom: 90px;">
                <label>Status</label>
                <div style="float: left; margin-right: 20px; width: 60px; height: 60px; border-radius: 50%; 
                            background-color: yellowgreen; margin-top: 12px; text-align: center; cursor: pointer;"
                     ng-click="is_active()">
                            <i ng-show="active==1" style="margin-top: 20px; margin-right: 0px; color: #FFF;" class="fas fa-check"></i>
                </div>
                <div style="float: left; width: 60px; height: 60px; border-radius: 50%; background-color: tomato;
                            margin-top: 10px; text-align: center; cursor: pointer;"
                     ng-click="no_active()">
                            <i ng-show="active==0" style="margin-top: 20px; margin-right: 0px; color: #FFF" class="fas fa-check"></i>            
                </div>
            </div>

            <div id="linhaB"></div>
            
            <div id="inputA" style="width:100%;">
                <button type="button" ng-click="salvar()">
                    <span ng-show="botao">Salvar</span>
                    <span ng-show="!botao"><img src="../img/loader.png" width="20px"></span>
                </button>
            </div>

            <div id="status" 
                style="text-align:left; padding-left:20px; margin-top:-10px; margin-bottom:10px;"></div>

        </div>
    </div>

</div>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>