<div id="perfilPedidos">
    
    <div id="fndPedidos" ng-click="back()"></div>
    <div id="cntPedidos">

        <div id="contMais" ng-show="!loader">
            <div id="loaderMais"><img src="../img/loader.png"></div>
        </div>

        <div id="lisPedidos" ng-show="loader">
            
            <div id="tituPedidos">órdenes ID: {{idPedidos}}</div>
            <div id="txtAPedidos" style="background-color: #F4F4F4;">{{city}}, {{c_state}}</div>
            <div id="txtAPedidos">{{street_one}}</div>
            <div id="txtAPedidos" style="background-color: #F4F4F4;">{{street_two}}</div>
            <div id="txtAPedidos"><b>Creado en</b>: {{created_at}}</div>
            <div id="txtAPedidos"><b>Fecha de Transacción</b>: {{transaction_date}}</div>

            <div id="txtAPedidos" style="background-color: #F4F4F4;"><b>Sub total:</b> $ {{subtotal}}</div>
            
            <div id="txtAPedidos" style="background-color: #F4F4F4;">
                <span ng-if="shipping"><b>Costo de envío:</b> $ {{shipping}}</span>
                <span ng-if="!shipping"><b>Costo de envío:</b> $ {{shipping}}</span>
            </div>

            <div id="txtAPedidos">
                <span ng-if="discount"><b>Descuento:</b> $ {{discount}}</span>
                <span ng-if="!discount"><b>Descuento:</b> no hay informacion</span>
            </div>
            
            <div id="txtAPedidos" style="background-color: #F4F4F4;"><b>Impuesto:</b> $ {{tax}}</div>
            <div id="txtAPedidos"><b>Valor total:</b> $ {{total}}</div>

            <div id="txtAPedidos" style="background-color: #00c198; color: #FFF; margin-bottom: 10px;">Comprador</div>

            <div id="tituPedidos">{{name}} {{last_name}}</div>
            <div id="txtAPedidos" style="background-color: #F4F4F4;">{{email}}</div>
            <div id="txtAPedidos">{{phone}}</div>
            <div id="txtAPedidos" style="background-color: #F4F4F4;">{{dni_number}} - {{dni_type}}</div>

            <div id="txtAPedidos" style="background-color: #00c198; color: #FFF; margin-bottom: 20px;">
                Productos
            </div>

            <div id="lisProdutos" ng-repeat="produto in produtos">
                <div id="ftoProdutos" style="background-image: url({{produto.main_picture}}); background-position: center center; 
                                             background-size: cover;"></div>
                
                <div id="txtAProdutos" style="font-weight: bold;">
                    {{produto.name}}
                </div>
                <div id="txtAProdutos">
                    <b>SKU:</b> {{produto.sku}}
                </div>
                <div id="txtAProdutos">
                    <b>Precio:</b> $ {{produto.price}}
                </div>
                <div id="txtAProdutos">
                    <b>Tienda:</b> {{produto.store.name}}
                </div>
            </div>
        </div>
    </div>
</div>