<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp; 
        <a ui-sref="restaurantes">
            <i class="fas fa-chevron-right"></i> &nbsp; restaurantes
        </a> &nbsp;
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">lista de categorias</font>
    </div>
</div>

<div id="div2Bus">
    <div id="buttOn">
        <button ng-click="buscar()"><i class="fas fa-search"></i></button>
    </div>
    <div id="busca">
        <input type="search" ng-model="buscando" ng-keypress="enter(event)" placeholder="Buscar...">        
    </div>    
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
        	<a ui-sref="restaurantes-categorias">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
    </div>
</div>

<div id="div5">

    <div id="contB">
        <div id="idPed" style="background-color: #00c198; color: #FFF; width: 15%; text-align: left;">
            Categoria
        </div>
        <div id="idPed" style="background-color: #00c198; color: #FFF; width: 12%; text-align: left;">
            Direcciones
        </div>
        <div id="nmCliPed" style="background-color: #00c198; color: #FFF; font-weight: bold; width: 12%; text-align: left;">
            Ciudad
        </div>
        <div id="emCliPed" style="background-color: #00c198; color: #FFF; font-weight: bold; width: 10%;">
            País
        </div>
        <div id="tsPed" style="background-color: #00c198; color: #FFF; font-weight: bold; width: 10%;">
            Latitud
        </div>
        <div id="tpPagPed" style="background-color: #00c198; color: #FFF; font-weight: bold; width: 10%;">
            Longitud
        </div>
        <div id="tpPagPed" style="background-color: #00c198; color: #FFF; font-weight: bold; width: 15%; text-align: left;">
            Nombre
        </div>
    </div> 

    <div id="contMais" ng-show="!pedidos">
        <div id="loaderMais"><img src="../img/loader.png"></div>
    </div>

    <div ng-repeat="pedido in pedidos">
        <div id="contB">
            <div id="idPed" style="width: 15%; text-align: left;">
                {{pedido.categories_name}}
            </div>
            <div id="idPed" style="width: 12%; text-align: left;">
                {{pedido.address}}
            </div>
            <div id="nmCliPed" style="width: 12%; text-align: left;">
                {{pedido.city}}
            </div>
            <div id="emCliPed" style="width: 10%;">
                {{pedido.country}}
            </div>
            <div id="tsPed" style="width: 10%;">
                {{pedido.lat}}
            </div>
            <div id="tpPagPed" style="width: 10%;">
                {{pedido.lon}}
            </div>
            <div id="tsPed" style="width: 15%; text-align: left;">
                {{pedido.name}}
            </div>
        </div>
    </div>
    
    <div ng-show="!pedido" ng-repeat="pedido in pedidos" id="nehnRes">
    	¡No hay resultados!
    </div>
    
    <div id="contMais" ng-show="pedidos && !parou">
        <div id="borderMais" ng-show="apa" ng-click="maisPag()">+ más</div>
        <div id="borderMais" ng-show="!apa"><img src="../img/loader.png" width="20"></div>
    </div>
    
</div>

<ui-view></ui-view>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>