<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp; 
        <a ui-sref="tiendas-estatisticas">
            <i class="fas fa-chevron-right"></i> &nbsp; tiendas &nbsp; 
        </a>
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">búsqueda de tiendas</font> &nbsp; 
    </div>
</div>

<div id="div2Bus">
    <div id="buttOn">
        <button ng-click="buscar()"><i class="fas fa-search"></i></button>
    </div>
    <div id="busca">
        <input type="search" ng-model="buscando" ng-keypress="enter(event)" placeholder="Buscar...">        
    </div>
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
        	<a ui-sref="tiendas-estatisticas">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
    </div>
</div>

<div id="div5">

    <div id="contMais" ng-show="!tiendas">
        <div id="loaderMais"><img src="../img/loader.png"></div>
    </div>
    
    <div ng-repeat="tienda in tiendas">
        <div id="contB">
            <a ui-sref="estatisticas({id:tienda.id})">
                <div id="contFto" style="margin-left: 20px;">
                    <div id="fto" 
                        style="background:url({{tienda.profile_picture}}) center center no-repeat;
                                background-size:contain;">
                    </div>
                </div>
                <div id="txtB">{{tienda.name}}</div>
                <div id="txtC">{{tienda.address}}</div>
                <div id="txtD">{{tienda.date_out_service}}</div>
            </a>
        </div>
    </div>
    
    <div ng-show="!tienda" ng-repeat="tienda in tiendas" id="nehnRes">
    	¡No hay resultados!
    </div>
    
    <div id="contMais" ng-show="tiendas && !parou">
        <div id="borderMais" ng-show="apa" ng-click="maisPag()">+ más</div>
        <div id="borderMais" ng-show="!apa"><img src="../img/loader.png" width="20"></div>
    </div>
    
</div>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>