<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp; 
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">status de las ordenes</font>
    </div>
</div>

<div id="div2Bus">
    <div id="buttOn">
        <button ng-click="buscar()"><i class="fas fa-search"></i></button>
    </div>
    <div id="busca">
        <input type="search" ng-model="buscando" ng-keypress="enter(event)" placeholder="Buscar...">        
    </div>
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
            <a ui-sref="cotacao-logistica">
                <i class="fas fa-folder"></i> hacer cotizaciones
            </a>   
        </div>
        <div id="txtA">
            <a ui-sref="encomendas-logistica">
                <i class="fas fa-folder"></i> enviar ordenes
            </a>
        </div>
        <div id="txtA" style="text-decoration: underline;">
        	<a ui-sref="status-logistica">
            	<i class="fas fa-folder-open"></i> status de las ordenes
            </a>
        </div>
        <div id="txtA">
        	<a ui-sref="direcao-logistica">
            	<i class="fas fa-folder"></i> editar dirección de tiendas
            </a>
        </div>
        <div id="txtA" style="float:right; margin-right: 20px;">
        	<a ui-sref="reportar-vendas({id:3})">
            	<i class="fas fa-folder"></i> reporte ventas
            </a>
        </div>
        <div id="txtA" style="float:right;">
        	<a ui-sref="exportar-logistica">
            	<i class="fas fa-file-csv"></i> exportar guías
            </a>
        </div>
    </div>
</div>

<div id="div4" style="background-color: #F4F4F4; padding-top: 20px;">
    <div style="margin: 0 auto; width: 1300px;">
        <div style="margin: 0 auto; width: 700px;">
            <div style="float: left; margin-top: 20px; margin-bottom: 0px; width: 200px;">
                <label style="float: left; width: 100%; font-family: Arial, Helvetica, sans-serif; 
                            text-align: center; margin-bottom: 10px;">Tienda</label>

                <select style="float: left; width: 100%; border: 1px solid #CCC; padding-top: 12px; padding-bottom: 12px;" 
                        ng-model="tienda" 
                        ng-change="verre()">
                        <option value="">Selecciona una tienda</option>
                        <option ng-repeat="tienda in tiendas | orderBy:'value'" value="{{tienda.key}}">{{tienda.value}}</option>
                </select>
            </div>

            <div style="float: left; margin-left: 10px; margin-top: 20px; margin-bottom: 0px; width: 200px;">
                <label style="float: left; width: 100%; font-family: Arial, Helvetica, sans-serif; 
                            text-align: center; margin-bottom: 10px;">Transportadora</label>

                <select style="float: left; width: 100%; border: 1px solid #CCC; padding-top: 12px; padding-bottom: 12px;" 
                        ng-model="transportadora"
                        ng-change="trans()"
                        ng-options="transportadora.id as transportadora.value for transportadora in transportadoras">
                </select>
            </div>

            <div style="float: left; margin-left: 10px; margin-top: 20px; margin-bottom: 0px; width: 200px;">
                <label style="float: left; width: 100%; font-family: Arial, Helvetica, sans-serif; 
                            text-align: center; margin-bottom: 10px;">Status</label>

                <select style="float: left; width: 100%; border: 1px solid #CCC; padding-top: 12px; padding-bottom: 12px;" 
                        ng-model="statO"
                        ng-change="estaDo()"
                        ng-options="statO.id as statO.value for statO in statOs">
                </select>
            </div>
        </div>

        <div style="float: left; margin-bottom: 0px; width: 1200px;">
            <div style="margin: 0 auto; width: 950px;">
                <label style="float: left; width: 100%; font-family: Arial, Helvetica, sans-serif; 
                            text-align: center; margin-bottom: 10px;">&nbsp;</label>

                <div style="float:left; margin-left: 10px; width:60px; font-family: Arial, Helvetica, sans-serif; 
                            background-color: #DDD; text-align: center; font-size: 14px; padding-top: 12px; 
                            padding-bottom: 13px;">De</div>
                
                <input type="date" 
                       ng-model="data1"
                       style="width:150px; border-left:1px solid #CCC; border-bottom:none; border-top:none; 
                              border-right:none; padding:8px; height:25px; float: left;">

                <div style="float:left; margin-left: 10px; width:60px; font-family: Arial, Helvetica, sans-serif; 
                            background-color: #DDD; text-align: center; font-size: 14px; padding-top: 12px; 
                            padding-bottom: 13px;">Hrs</div>

                <input type="time" id="hra1"
                       style="float: left; margin-left: 10px; padding-left: 10px; width: 95px; border: none; padding-top: 13px; padding-bottom: 13px;">

                <div style="float:left; margin-left: 10px; width:60px; font-family: Arial, Helvetica, sans-serif; 
                            background-color: #DDD; text-align: center; font-size: 14px; padding-top: 12px; 
                            padding-bottom: 13px;">Hasta</div>

                <input type="date"
                    ng-model="data2"
                    style="width:150px; border-left:1px solid #CCC; border-bottom:none; border-top:none; 
                            border-right:none; padding:8px; height:25px; float: left;">

                <div style="float:left; margin-left: 10px; width:60px; font-family: Arial, Helvetica, sans-serif; 
                            background-color: #DDD; text-align: center; font-size: 14px; padding-top: 12px; 
                            padding-bottom: 13px;">Hrs</div>

                <input type="time" id="hra2"
                       style="float: left; margin-left: 10px; padding-left: 10px; width: 95px; border: none; padding-top: 13px; padding-bottom: 13px;">

                <button ng-click="verDatas()"
                        style="float:left; background:#CCC; border-radius:5px; padding-left: 20px; padding-right: 20px;
                               border:none; color:#333; font-weight:bold; cursor:pointer; padding-top: 12px; margin-left: 10px;
                               padding-bottom: 12px; font-family: Arial, Helvetica, sans-serif;">Ir</button>
            
            </div>
        </div>

        <div style="float: left; margin-left: 0px; margin-top: 40px; width: 100%; margin-bottom: 40px;">
            <div style="margin:0 auto; width: 200px;">
                <button type="button"
                        ng-show="!limpa"
                        ng-click="rastrear()"
                        style="float:left; background:#00c198; border-radius:5px; padding-left: 20px; padding-right: 20px;
                            border:none; color:#FFF; font-weight:bold; cursor:pointer; padding-top: 12px; 
                            padding-bottom: 12px;">
                            <span ng-show="botao">Rastrear Pedidos</span>
                            <span ng-show="!botao"><img src="../img/loader.png" width="20px"></span>
                </button>

                <button type="button"
                        ng-show="limpa"
                        ng-click="mTodos()"
                        style="float:left; background:brown; border-radius:5px; padding-left: 20px; padding-right: 20px;
                            border:none; color:#FFF; font-weight:bold; cursor:pointer; padding-top: 12px; 
                            padding-bottom: 12px;">
                            <span ng-show="botao">Mostrar Todo</span>
                            <span ng-show="!botao"><img src="../img/loader.png" width="20px"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="div5">

    <div style="float: left; width: 100%; background-color: #F4F4F4; padding-bottom: 10px;">
        <div style="float:right; font-family: Arial, Helvetica, sans-serif; margin-right: 20px; 
                    font-weight: bold;">
            {{contar}} Seleccionados de {{logisticas.length}}
        </div>
    </div>

    <div id="contB">
        <span style="float: right; font-size: 15px; color: #333; margin-right: 20px;">
            <a href="javascript:" ng-click="abreUrl()">
                <i class="fas fa-file-pdf" style="color: brown; font-size: 1.5em;"></i> 
                &nbsp; Todas las guias
            </a>
        </span>
    </div>

    <div id="contB">
        <div id="idPed" style="background-color: #00c198; color: #FFF; width: 2%;">
            <input type="checkbox" ng-model="selectedAll" ng-click="selectAll()">
        </div>
        <div id="idPed" style="background-color: #00c198; color: #FFF; width: 4%;">
            órdenes ID
        </div>
        <div id="nmCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 6%;">
            Tienda
        </div>
        <div id="emCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 7.5%;">
            Cliente
        </div>
        <div id="emCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 7%;">
            Ciudad
        </div>
        <div id="emCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 7%;">
            Departamento
        </div>
        <div id="emCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 8.5%;">
            Transportadora
        </div>
        <div id="emCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 7%;">
            Fecha de envio
        </div>
        <div id="emCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 5%;">
             Valor del envío
        </div>
        <div id="emCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 7.5%;">
             Guia
        </div>
        <div id="fnCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 5%;">
            Productos
        </div>
        <div id="fnCliPed" 
             style="background-color: #00c198; color: #FFF; font-weight: bold; text-align: center; 
                    width: 6.5%;">
            Tracking
        </div>
    </div> 

    <div id="contMais" ng-show="!logisticas">
        <div id="loaderMais"><img src="../img/loader.png"></div>
    </div>

    <div ng-repeat="logistica in logisticas">
        <div id="contB">
            <div id="idPed" style="width: 2%;">
                <input type="checkbox" ng-model="logistica.Selected" data-val="true" 
                       ng-click="checkboxClick($event, logistica)" ng-selected="selectAll">
            </div>
            <div id="nmCliPed" style="width: 4%; text-align: center;">
                {{logistica.order_id}}
            </div>
            <div id="emCliPed" style="width: 6%; text-align: center;">
                {{logistica.store.name}}
            </div>
            <div id="fnCliPed" style="width: 7.5%;">
                {{logistica.full_name}}
            </div>
            <div id="fnCliPed" style="width: 7%;">
                {{logistica.city}}
            </div>
            <div id="fnCliPed" style="width: 7%;">
                {{logistica.c_state}}
            </div>
            <div id="fnCliPed" style="width: 8.5%;">
                {{logistica.carrier.carrier}}
            </div>
            <div id="fnCliPed" style="width: 7%;">
                <span ng-show="logistica.transaction_date">{{logistica.transaction_date}}</span>
                <span ng-show="!logistica.transaction_date">Sin información</span>
            </div>
            <div id="fnCliPed" style="width: 5%;">
                $ {{logistica.quotes.rate_value}}
            </div>
            <div id="fnCliPed" style="width: 7.5%;">
                <a href="{{logistica.url_guide}}" target="_blank">
                    <i class="fas fa-file-pdf" style="color: brown; font-size: 1.5em; margin-bottom: 10px;"></i>
                </a> <br />
                {{logistica.code}}
            </div>
            <div id="tsPed" style="float:left; width: 5%;" 
                ng-click="abrePerfil(logistica.id, logistica.order_id)">
                <div style="float: left; width: 100%;">
                    <span ng-if="logistica.new_order_items.length">{{logistica.new_order_items.length}}</span>
                    <span ng-if="!logistica.new_order_items.length">1</span> <br>
                    <button type="button"
                            style="margin:0 auto; width: 60px; border-radius:5px; padding-left: 10px; padding-right: 10px;
                                border:none; color:#00c198; font-weight:bold; cursor:pointer; font-size: 14px;
                                background: none;">mirar</button>
                </div>                
            </div>
            <div id="tsPed" style="float:left; width: 6.5%;">
                <div style="float: left; width: 100%;">
                <span style="color: brown;" ng-show="logistica.status=='IN_SHIPMENT_PROCESS'">En Proceso de envío</span>
                <span style="color: cadetblue;" ng-show="logistica.status=='IN_TRANSIT'">En transito</span>
                <span style="color: darkgoldenrod;" ng-show="logistica.status=='NOT_DELIVERED'">Novedad en el envío</span>
                <span style="color: darkgreen;" ng-show="logistica.status=='DELIVERED'">Entregado</span>
                <span style="color: darkorange;" ng-show="logistica.status=='CANCELLED'">Cancelado</span>
                </div>
                <span ng-show="logistica.status_at"><b>Fecha:</b> {{logistica.status_at}}</span>
                <span ng-show="!logistica.status_at"><b>Fecha:</b> Sin información</span>
            </div>
        </div>
    </div>

    <div id="nehnRes">
    	<div ng-repeat="message in messages1">
            <span style="float: left; padding-left: 1%; width: 99%; padding-top: 8px; padding-bottom: 8px; background-color: #F4F4F4;">
                {{message.msg}}
            </span>
            <div style="float: left; margin-left: 30px; font:15px Arial; color:#B70609;" 
                ng-repeat="erro in message.erros">
                {{erro}}
            </div>
        </div>
        <div ng-repeat="message in messages2">
            <span style="float: left; padding-left: 1%; width: 99%; padding-top: 8px; padding-bottom: 8px; background-color: #F4F4F4;">
                {{message.msg}}
            </span>
            <div style="float: left; margin-left: 30px; font:15px Arial; color:#B70609;" 
                ng-repeat="erro in message.erros">
                {{erro}}
            </div>
        </div>
        <div ng-repeat="message in messages3">
            <span style="float: left; padding-left: 1%; width: 99%; padding-top: 8px; padding-bottom: 8px; background-color: #F4F4F4;">
                {{message.msg}}
            </span>
            <div style="float: left; margin-left: 30px; font:15px Arial; color:#B70609;" 
                ng-repeat="erro in message.erros">
                {{erro}}
            </div>
        </div>
        <div ng-repeat="message in messages4">
            <span style="float: left; padding-left: 1%; width: 99%; padding-top: 8px; padding-bottom: 8px; background-color: #F4F4F4;">
                {{message.msg}}
            </span>
            <div style="float: left; margin-left: 30px; font:15px Arial; color:#B70609;" 
                ng-repeat="erro in message.erros">
                {{erro}}
            </div>
        </div>
    </div>
    
    <div ng-show="!logistica" ng-repeat="logistica in logisticas" id="nehnRes">
    	¡No hay resultados!
    </div>
    
    <div id="contMais" ng-show="logisticas && !parou">
        <div id="borderMais" ng-show="apa" ng-click="maisPag()">+ más</div>
        <div id="borderMais" ng-show="!apa"><img src="../img/loader.png" width="20"></div>
    </div>
    
</div>

<div id="perfilPedidos" ng-if="abreProds">
    
    <div id="fndPedidos" ng-click="back2()"></div>
    <div id="cntPedidos">

        <div id="contMais" ng-show="!loader">
            <div id="loaderMais"><img src="../img/loader.png"></div>
        </div>

        <div id="lisPedidos" ng-show="loader">
            
            <div id="tituPedidos">ID: {{id}}</div>
            <div id="txtAPedidos" 
                 style="background-color: #00c198; color: #FFF; margin-bottom: 20px;">
                 Productos (cantidad {{produtos.length}})
            </div>

            <div id="lisProdutos" ng-repeat="produto in produtos">
                <div id="txtAPedidos" ><b>Nombre del producto:</b> {{produto.product_name}}</div>
                
                <div id="txtAPedidos" 
                     style="background-color: #F4F4F4;"><b>Estado:</b> {{produto.status}}</div>

                <div id="txtAPedidos" ><b>Nombre de la tienda:</b> {{produto.store_name}}</div>

                <div id="txtAPedidos" 
                     style="background-color: #F4F4F4;"><b>Precio unitario:</b> $ {{produto.unit_price}}</div>

            </div>
        </div>
    </div>
</div>

<!-- GUIAS -->
<div id="perfilPedidos" ng-show="abreGuias">
    
    <div id="fndPedidos" ng-click="back2()"></div>
    <div id="cntPedidos">
        <div style="float: left; width: 100%;">
            <button 
                ng-click="copiar()"
                type="button" 
                style="float: left; margin-left: 40px; margin-top: 30px; width: 100px; height: 40px; cursor: pointer; text-align: center; font-family: Arial, Helvetica, sans-serif;">
                Copiar
            </button>
        </div>

        <textarea 
            id="inputTest"
            style="float:left; width: 100%; height: 400px; margin-top: 30px; margin-bottom: 30px; padding-top: 30px; padding-bottom: 30px; border-radius: 5px; border: 1px solid #333; margin-left: 5%; width: 80%; padding-left: 5%; padding-right: 5%; background-color: #F4F4F4; resize: none;">
        </textarea>
    </div>
</div>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>