<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp;
            <i class="fas fa-chevron-right"></i> &nbsp; usuarios test
            &nbsp;
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">usuarios activos de búsqueda</font>
    </div>
</div>

<div id="div2Bus">
    <div id="buttOn">
        <button ng-click="buscar()"><i class="fas fa-search"></i></button>
    </div>
    <div id="busca">
        <input type="search" ng-model="buscando" ng-keypress="enter(event)" placeholder="Buscar...">        
    </div>
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
        	<a ui-sref="usuarios-test">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
    </div>
</div>

<div id="div5">

    <div id="contB">
        <div id="idPed" style="background-color: #00c198; color: #FFF; width: 5%;">
            ID
        </div>
        <div id="idPed" style="background-color: #00c198; color: #FFF; width: 30%; text-align: left;">
            E-mail
        </div>
        <div id="tsPed" style="background-color: #00c198; color: #FFF; font-weight: bold; width: 45.5%; text-align: left;">
            Name
        </div>
        <div id="tpPagPed" style="background-color: #00c198; color: #FFF; font-weight: bold; width: 10%;">
            Editar
        </div>              
    </div> 

    <div id="contMais" ng-show="!cupons">
        <div id="loaderMais"><img src="../img/loader.png"></div>
    </div>

    <div ng-repeat="cupon in cupons">
        <div id="contB">
            <div id="idPed" style="width: 5%;">
                {{cupon.id}}
            </div>
            <div id="idPed" style="width: 30%; text-align: left;">
                {{cupon.email}}
            </div>
            <div id="nmCliPed" style="width: 45.5%; text-align: left;">
                {{cupon.name}} {{cupon.last_name}}
            </div>
            <div id="emCliPed" style="width: 10%; text-align: center;">
                <a ui-sref="search-usuarios-test.modulo({id:cupon.id})">
                    <i class="fas fa-edit"></i>
                </a>
            </div>            
        </div>
    </div>

    <div ng-show="!cupon" ng-repeat="cupon in cupons" id="nehnRes">
    	¡No hay resultados!
    </div>
    
    <div id="contMais" ng-show="cupons && !parou">
        <div id="borderMais" ng-show="apa" ng-click="maisPag()">+ más</div>
        <div id="borderMais" ng-show="!apa"><img src="../img/loader.png" width="20"></div>
    </div>
    
</div>

<ui-view></ui-view>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>