<style>.home { text-decoration:underline; }</style>

<div id="div1">
    <div id="logo"><img src="../img/logoLoro.svg"></div>
    <div id="nmUser"></div>
    <div id="buttonA">
    	<a href="javascript:" ng-click="sair()"><i class="fas fa-sign-out-alt"></i> &nbsp; Sal</a>
    </div>
    <div id="buttonA">
    	<i class="fas fa-user"></i> &nbsp; <font class="usuarios">{{nome}}</font>
    </div>
</div>

<div id="div2">
    <div id="itenA">
        <a ui-sref="home">
            <i class="fas fa-home" aria-hidden="true"></i> &nbsp; comienzo
        </a> &nbsp;
        <a ui-sref="publicidade-categorias">
            <i class="fas fa-chevron-right"></i> &nbsp; publicidad
        </a> &nbsp; 
            <i class="fas fa-chevron-right"></i> &nbsp; <font class="home">categorías</font>
    </div>
</div>

<div id="div2Bus">
    <div id="buttOn">
        <button ng-click="buscar()"><i class="fas fa-search"></i></button>
    </div>
    <div id="busca">
        <input type="search" ng-model="buscando" ng-keypress="enter(event)" placeholder="Buscar...">        
    </div>
    <div id="tipos">
        <select ng-model="estato" 
                ng-change="seleEstato()"
                ng-options="estato as estato.aparence for estato in estatos track by estato.value">
        </select>
    </div>
</div>

<div id="div4">
    <div id="conTxt">
        <div id="txtA">
        	<a ui-sref="publicidade-categorias">
            	<i class="fas fa-arrow-circle-left"></i> vuelve
            </a>
        </div>
    </div>
</div>

<div id="div5">

    <div id="contMais" ng-show="!categorias">
        <div id="loaderMais"><img src="../img/loader.png"></div>
    </div>
    
    <div ng-repeat="categoria in categorias">
        <div id="contB">
            <div id="contFto" style="margin-left: 20px;">                
                <div id="fto" 
                     style="background-position: center center; background-size:contain; background-repeat: no-repeat; 
                            background-image: url({{categoria.img_category}});">
                </div>
            </div>
            <div id="txtB" style="margin-top: 13px;">
                <div style="display:inline;">{{categoria.name}}</div>
            </div>
            <div id="txtC">id: {{categoria.id}} sort: {{categoria.sort}}</div>

            <div id="ctnEdit">
                <a ui-sref="adicionar-publicidade-categorias-app({id:categoria.id})">
                    <i style="font-size: 1.2em; color: #00c198; position: absolute; margin-left: -80px; margin-top: -6px;" class="fas fa-mobile-alt"></i>
                </a>
                <a ui-sref="editar-categorias({id:categoria.id})">
                    <i style="font-size: 1.2em; color: #00c198; position: absolute; margin-left: -20px; margin-top: -4px;" class="fas fa-desktop"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div ng-show="!categoria" ng-repeat="categoria in categorias" id="nehnRes">
    	¡No hay resultados!
    </div>
    
    <div id="contMais" ng-show="categorias && !parou">
        <div id="borderMais" ng-show="apa" ng-click="maisPag()">+ más</div>
        <div id="borderMais" ng-show="!apa"><img src="../img/loader.png" width="20"></div>
    </div>
    
</div>

<div id="footer">
    <div id="txtFoo">Todos los derechos reservados a loro</div>
</div>